@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}

:root {
    --mainColor: #ea3363;
    --lightMainColor: #ed7277;
}

body {
    background-image: linear-gradient(
        to bottom,
        var(--mainColor),
        var(--lightMainColor)
    );
    padding: 10% 5%;
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    line-height: 1.5;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3vh;
    color: white;
    text-align: center;
}

header > ul,
footer > ul {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    list-style-type: none;
}

header a,
footer a {
    color: white;
    text-decoration: none;
}

header a:hover,
footer a:hover {
    color: black;
}

header > h4 {
    font-weight: 100;
}

main {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
}

/* MOBILE */
@media (min-width: 300px) {
    header h1 {
        font-size: 40px;
    }

    nav {
        display: none;
    }

    main > section {
        background-color: white;
        padding: 10%;
        display: flex;
        flex-direction: column;
        row-gap: 5vh;
    }

    img {
        width: 100%;
    }

    figure {
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
    }

    figcaption {
        display: flex;
        flex-direction: column;
        row-gap: 1vh;
        color: dimgray;
    }

    .projects a {
        text-decoration: none;
        color: black;
    }

    .projects img {
        border: 2px solid var(--lightMainColor);
    }

    .projects a:hover {
        text-decoration: none;
        color: var(--mainColor);
    }

    .work > article {
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
    }

    .work p {
        color: dimgray;
    }

    small {
        color: dimgray;
    }

    .language > ul,
    .social > ul {
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
        list-style-type: none;
    }

    .language li {
        font-weight: 600;
    }

    .language span {
        font-weight: 500;
        color: dimgray;
    }

    .social a {
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
        column-gap: 2vw;
    }

    .social a:hover {
        color: var(--mainColor);
    }

    .social i {
        border: 1px solid dimgray;
        border-radius: 50%;
        padding: 2%;
    }

    form {
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
        padding-bottom: 2vh;
    }

    input,
    textarea {
        background-color: #eeeeee;
        border: none;
        padding: 5%;
        border-radius: 5px;
    }

    textarea {
        height: 15vh;
        resize: none;
    }

    [type="submit"] {
        background-color: var(--mainColor);
        color: white;
        width: 50%;
        border-radius: 30px;
    }

    footer {
        color: white;
        display: flex;
        flex-direction: column;
        row-gap: 3vh;
        align-items: center;
        font-weight: 200;
        padding-top: 3vh;
    }
}

/* TABLET */
@media (min-width: 700px) {
    header h1 {
        font-size: 60px;
    }

    header a,
    footer a,
    footer i {
        font-size: 20px;
    }

    h2 {
        font-size: 30px;
    }

    .about p,
    .work p,
    .social a,
    .language li {
        font-size: 20px;
    }

    .projects h3,
    .work h3,
    .education h3 {
        font-size: 20px;
    }

    .projects small,
    .work small,
    .education small,
    .contact input,
    .contact textarea {
        font-size: 18px;
    }

    .social i {
        font-size: 25px;
    }

    .contact input,
    .contact textarea {
        padding: 2%;
    }

    [type="submit"] {
        width: 30%;
    }
}

/* DESKTOP */
@media (min-width: 1000px) {
    header h1 {
        font-size: 70px;
    }

    header a,
    footer a,
    footer i {
        font-size: 25px;
    }

    h2 {
        font-size: 35px;
    }

    main > section {
        padding: 5%;
    }

    .about > figure {
        flex-direction: row;
        column-gap: 2vw;
    }

    .about img {
        width: 30vw;
        height: 30vh;
    }

    .projects > article {
        display: flex;
        column-gap: 2vw;
    }

    .projects img {
        width: 25vw;
        height: 25vh;
    }

    .social i {
        font-size: 30px;
    }
}

/* HIGHER VERSION */
@media (min-width: 1200px) {
}
