@mixin flexboxColumn {
    display: flex;
    flex-direction: column;
}

@mixin flexboxCenter($align, $justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin flexbox($direction: row, $align: flex-start, $justify: left) {
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}
