@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

// Screen Size
$mobileScreen: 200px;
$tabletScreen: 600px;
$desktopScreen: 1000px;

// Colors
$defaultColor: #ec523f;
$seaGreen: #1abc9c;
$orange: #e67e22;
$blue: #3498da;
$green: #2ecc71;

// Font Families
$fontFamily: "Open Sans", sans-serif;
