@import url("https://fonts.googleapis.com/css2?family=Jua&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nanum+Gothic&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --mainColor: #ab2f52;
}

/* tag selectors */
a {
    text-decoration: none;
}

h6 {
    height: 3px;
    background-color: lightgray;
    width: 60%;
    display: flex;
    justify-content: center;
}

h6 > span {
    background-color: var(--mainColor);
    width: 30%;
}

main h2 {
    color: var(--mainColor);
    font-weight: 200;
    text-transform: uppercase;
}

body,
main,
main > section,
main > section > article,
.services aside,
figcaption,
form,
.testimonials,
.contact ul,
footer {
    display: flex;
    flex-direction: column;
}

header {
    background-image: url("../img/bg-header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

header > article {
    width: 98%;
    height: 98%;
    padding: 1%;
}

img {
    width: 40%;
}

/* MOBILE */
@media (min-width: 200px) {
    main {
        padding-bottom: 10vh;
        row-gap: 5vh;
    }

    /* class selectors */
    .testimonials,
    .services aside,
    .contact ul {
        display: flex;
        flex-direction: column;
    }

    main > section > section {
        display: flex;
    }

    /* HEADER */
    header {
        height: 60vh;
        color: whitesmoke;
    }

    header > article {
        display: flex;
        flex-direction: column;
        row-gap: 15vh;
    }

    header h2 {
        text-transform: uppercase;
        font-weight: 400;
    }
    header ul {
        display: none;
    }
    /* ABOUT */
    .about {
        align-items: center;
        padding: 15% 0;
        row-gap: 5vh;
    }

    .about > figure {
        display: flex;
        flex-direction: column-reverse;
        padding: 0 5%;
        row-gap: 4vh;
    }

    .about img {
        width: 100%;
        height: 40vh;
    }

    .about a {
        background-color: orange;
        width: 40%;
        border: none;
        border-radius: 5px;
        padding: 2%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1vw;
        transition: 0.6s;
    }

    .about figcaption {
        flex-direction: column;
        row-gap: 3vh;
        line-height: 1.5;
        padding-bottom: 5%;
    }

    .about small {
        color: orange;
        font-weight: 500;
    }

    .about > article {
        color: darkgray;
    }
    /* SERVICES */
    .services {
        background-color: ghostwhite;
        padding: 15% 0;
        align-items: center;
        row-gap: 5vh;
    }

    .services > section {
        flex-direction: column;
        row-gap: 5vh;
        align-items: center;
    }

    .services aside {
        align-items: center;
        row-gap: 2vh;
        width: 90%;
        min-height: 40vh;
        justify-content: center;
        background-color: white;
    }

    .services p {
        text-align: center;
        line-height: 1.5;
        width: 80%;
        color: gray;
    }

    .services i {
        color: orange;
        font-size: 36px;
    }

    .services hr {
        width: 30%;
    }

    .services h4 {
        font-size: 20px;
    }

    /* GALLERY */
    .gallery figure {
        display: flex;
        flex-wrap: wrap;
    }

    .gallery img {
        width: 100%;
        height: 50vh;
    }

    /* TESTIMONIALS */
    .testimonials {
        background-image: url("../img/bg-header.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        align-items: center;
        row-gap: 4vh;
        text-align: center;
    }

    .testimonials > article {
        row-gap: 4vh;
        padding: 10% 5%;
        background-color: rgba(30, 30, 30, 0.8);
    }

    .testimonials i {
        font-size: 20px;
        color: var(--mainColor);
    }

    .testimonials h5 {
        color: orange;
    }

    .testimonials span {
        color: whitesmoke;
        font-weight: 700;
    }

    .testimonials p {
        color: whitesmoke;
    }

    /* CONTACT */
    .contact,
    .gallery,
    .services,
    .about {
        align-items: center;
        row-gap: 5vh;
    }

    .contact > section {
        flex-direction: column;
        width: 90%;
        row-gap: 5vh;
    }

    .contact > article,
    .gallery > article,
    .services > article,
    .about > article {
        align-items: center;
        row-gap: 3vh;
        text-align: center;
        padding: 0 5%;
    }

    .contact p {
        color: darkgray;
    }

    .contact ul {
        row-gap: 3vh;
    }

    .contact li {
        display: flex;
        column-gap: 3vw;
        align-items: flex-end;
    }

    /* caret sign ^ = attribute starts with
    dollar sign $ = ends with
    star sign * = contains */
    .contact [class^="fa-"] {
        color: var(--mainColor);
        font-size: 18px;
    }

    .contact ul aside {
        display: flex;
        flex-direction: column;
        row-gap: 1vh;
    }

    .contact a {
        color: dimgray;
    }

    form {
        align-items: center;
        row-gap: 3vh;
        /* width: 90%; */
    }

    form > aside {
        display: flex;
        flex-wrap: wrap;
        row-gap: 3vh;
        width: 100%;
    }

    input {
        padding: 4px;
        width: 96%;
        border: none;
        border-bottom: 1px solid black;
    }

    textarea {
        width: 96%;
        padding: 4px;
        height: 20vh;
        resize: none;
        border: none;
        border-bottom: 1px solid black;
    }

    /* attribute selector */
    [type="submit"] {
        padding: 2vh;
        background-color: var(--mainColor);
        width: 75%;
        color: whitesmoke;
        border: none;
        border-radius: 25px;
        font-weight: 500;
    }

    /* FOOTER */
    footer {
        padding: 3%;
        text-align: center;
        background-color: black;
        color: whitesmoke;
        row-gap: 3vh;
        align-items: center;
    }

    footer p {
        width: 70%;
    }

    footer ul {
        display: flex;
        justify-content: center;
        column-gap: 4vw;
        list-style-type: none;
    }

    footer a {
        color: whitesmoke;
    }
}
