* {
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

:root {
    --orangeColor: #e59d37;
}

body {
    background-color: #7e7e83;
    line-height: 1.3;
}

main {
    background-color: whitesmoke;
    margin: 5%;
    padding: 1%;
    border-radius: 1%;
    display: flex;
    flex-direction: row;
    column-gap: 3vw;
}

.left {
    background-color: #3d3e42;
    border-radius: 1%;
    padding: 2%;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.left h3 {
    color: var(--orangeColor);
    padding: 1% 0;
}

.left p {
    padding: 1% 0;
}

.left hr {
    background: #b7b7b8;
    height: 1px;
    border: 0;
}
.left a {
    text-decoration: none;
    color: var(--orangeColor);
}
.left img {
    width: 3%;
    height: 3%;
    padding: 0 0.5%;
}
.img-arrow {
    transform: rotate(-90deg);
}
.left > section article {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: #b7b7b8;
}

.left > article {
    background-color: #45464b;
    color: #b7b7b8;
    border: 1px solid #b7b7b8;
    padding: 1%;
}

.right > header {
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
    color: var(--orangeColor);
}

.right ul {
    list-style-type: square;
    color: var(--orangeColor);
}

.right a {
    text-decoration: none;
    color: #7e8085;
    text-transform: uppercase;
    font-weight: 600;
}
.right img {
    width: 20%;
}
