* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
}

:root {
    --mainColor: #f55171;
    --footerBg: #2b2b2b;
}

/* MOBILE VERSION */
/* starting from 200px */
/* if we set in mobile version first, other version will be same also*/
/* Easy to make responsive site */
@media (min-width: 200px) {
    header > section,
    main,
    main > section,
    main > section > article,
    main > section > section,
    figure,
    figcaption,
    .about aside,
    .contact form,
    footer {
        display: flex;
        flex-direction: column;
    }

    main {
        padding-bottom: 10vh;
    }

    main > section {
        padding-top: 5vh;
        padding-bottom: 5vh;
        row-gap: 4vh;
    }

    main > section > article,
    figure,
    figcaption,
    .about aside,
    footer {
        align-items: center;
        text-align: center;
    }

    figure,
    figcaption {
        row-gap: 2vh;
        color: whitesmoke;
    }

    /* NAV */
    nav {
        width: 90%;
        display: flex;
        background-color: white;
        border-radius: 50px;
        justify-content: space-between;
        min-height: 5vh;
        align-items: center;
    }

    nav > ul {
        display: none;
    }

    nav > aside {
        padding-left: 5%;
        display: flex;
        column-gap: 2vw;
        color: var(--mainColor);
        position: relative;
    }

    details {
        position: absolute;
        width: 70%;
        text-align: right;
        padding-left: 5%;
    }

    details > ul {
        /* does not make the content wide */
        position: absolute;
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    details li {
        width: 100%;
        display: flex;
        border-bottom: 1px solid var(--mainColor);
    }

    details a {
        padding: 5%;
        text-decoration: none;
        font-weight: 600;
        color: var(--footerBg);
        text-transform: uppercase;
    }

    summary {
        color: var(--mainColor);
    }
    /* HEADER */
    header {
        background-image: url("../img/pic3.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        height: 60vh;
        border-bottom-left-radius: 15vh;
        border-bottom-right-radius: 15vh;
        text-align: center;
    }

    header > section {
        padding: 5%;
        width: 90%;
        /* height: 90%; */
        border-bottom-left-radius: 15vh;
        border-bottom-right-radius: 15vh;
        background-color: rgba(245, 81, 113, 0.7);
        justify-content: space-evenly;
        align-items: center;
        color: white;
    }

    /* ABOUT */
    .about > section {
        align-items: center;
        row-gap: 4vh;
    }

    .about > section > article {
        display: flex;
        flex-direction: column;
        row-gap: 4vh;
    }

    .about aside {
        row-gap: 4vh;
        line-height: 1.5;
        width: 90%;
    }

    .about p {
        font-size: 16px;
    }

    .about a {
        background-color: var(--footerBg) !important;
        color: white !important;
        text-decoration: none;
    }

    .about figure {
        width: 30vh;
        height: 30vh;
        border-radius: 50%;
        border: 5px solid var(--mainColor);
    }

    .about img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }

    /* SERVICES */
    .services {
        background-color: var(--mainColor);
    }

    .services > article {
        row-gap: 3vh;
        color: white;
    }

    .services h2 {
        /* width: 80%; */
        border-bottom: 0.5px solid white;
        padding-bottom: 1vh;
    }

    .services > section > article {
        display: flex;
        flex-direction: column;
        row-gap: 5vh;
    }

    .services > section {
        align-items: center;
        row-gap: 2vh;
    }

    .services img {
        padding: 1%;
        width: 20vh;
        height: 20vh;
        border-radius: 50%;
        outline: 10px solid whitesmoke;
    }

    .services p {
        line-height: 1.5;
        width: 90%;
        font-size: 16px;
    }

    .services h3 {
        text-transform: uppercase;
        font-size: 24px;
    }

    .about a,
    .services a,
    header > section > a {
        width: 30%;
        text-align: center;
        background-color: whitesmoke;
        border: 2px solid whitesmoke;
        color: var(--footerBg);
        font-weight: 600;
        padding: 2vh;
        text-decoration: none;
    }

    header > section > a {
        color: var(--mainColor);
    }

    /* CONTACT */
    .about > article,
    .contact > article {
        row-gap: 1vh;
    }

    .about > article h2,
    .contact > article h2 {
        border-bottom: 0.5px solid var(--mainColor);
        padding-bottom: 1vh;
        width: 60%;
    }

    /* we used border-bottom instead */
    hr {
        display: none;
        /* border-width: 0.5px;
        border-color: var(--mainColor);
        width: 50%; */
    }

    .contact > section {
        align-items: center;
    }

    .contact form {
        width: 90%;
        row-gap: 3vh;
        /* we need width to input to make it same size */
        align-items: center;
    }

    .contact input {
        /* we have to make width to make the same size */
        width: 90%;
        padding: 2vh;
        border: 3px solid var(--footerBg);
    }

    /* attribute selector */
    .contact [type="submit"] {
        width: 50%;
        background-color: var(--footerBg);
        border: 3px solid var(--footerBg);
        color: whitesmoke;
        font-weight: 600;
        text-decoration: none;
    }

    /* FOOTER */
    footer {
        row-gap: 2vh;
        background-color: #2b2b2b;
        padding: 1%;
        padding-top: 5vh;
    }

    footer > h2,
    footer > p {
        color: whitesmoke;
    }

    footer > h2 {
        font-size: 36px;
    }

    footer h3 {
        font-size: 40px;
        color: var(--mainColor);
    }

    footer > p {
        padding-top: 3vh;
        width: 90%;
        border-top: 1px solid whitesmoke;
    }
}

/* TABLET VERSION */
@media (min-width: 600px) {
    /* HEADER */
    header {
        height: 45vh;
    }

    header h1 {
        font-size: 50px;
        width: 70%;
    }

    header > section > a {
        width: 20%;
        padding: 1%;
        transition: 0.6s;
        margin-top: 2%;
    }

    header > section > a:hover {
        background-color: transparent;
        color: white;
    }

    /* NAV */
    nav {
        min-height: 7vh;
    }

    nav > aside {
        font-size: 28px;
    }

    details {
        display: none;
    }

    nav > ul {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
    }

    nav a {
        text-decoration: none;
        color: var(--footerBg);
        font-weight: 600;
        transition: 0.6s;
    }

    nav a:hover {
        color: var(--mainColor);
    }

    /* FOOTER */
    footer > h3 {
        font-size: 48px;
    }

    footer > h2 {
        font-size: 54px;
    }

    footer > p {
        font-size: 24px;
    }

    /* ABOUT */
    .about > article > h2 {
        font-size: 38px;
        width: 35%;
    }

    .about > section > article {
        flex-direction: row;
        column-gap: 5vw;
    }

    .about figure {
        width: 20vh;
        height: 20vh;
        border-width: 10px;
    }

    .about a {
        border: 3px solid var(--footerBg);
        width: 25%;
        padding: 1vh;
        transition: 0.6s;
    }

    .about a:hover {
        background-color: transparent;
        color: var(--footerBg);
    }

    /* CONTACT */
    .contact form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 3vh;
    }

    .contact > article > h2 {
        width: 60%;
        font-size: 38px;
    }
    /* we have to use class selector to use. */
    /* cuz we already did in the mobile version */
    .contact input {
        width: 35%;
        padding: 2%;
    }

    .contact [type="submit"] {
        width: 30%;
    }
    .contact [type="submit"]:hover {
        background-color: transparent;
        color: var(--footerBg);
        cursor: pointer;
    }
    /* SERVICES */
    .services > article > h2 {
        font-size: 38px;
        padding-bottom: 2%;
    }

    .services > section > article {
        flex-direction: row;
    }

    .services img {
        width: 10vh;
        height: 10vh;
        outline-width: 3px;
    }

    .services a {
        width: 20%;
        padding: 1vh;
        transition: 0.6s;
    }

    .services a:hover {
        background-color: transparent;
        color: white;
    }

    .services h3 {
        font-size: 20px;
    }
}

/* DESKTOP VERSION */
@media (min-width: 1000px) {
    /* HEADER */
    header {
        min-height: 60vh;
    }

    /* ABOUT */
    .about > section p {
        font-size: 20px;
        width: 70%;
    }

    .about figure {
        width: 20vw;
        height: 20vw;
    }
    /* SERVICES */
    .services > section > article {
        justify-content: center;
        column-gap: 1vw;
    }

    .services figure {
        width: 25%;
    }

    /* CONTACT */
    .about > article > h2,
    .contact > article > h2 {
        font-size: 48px;
        width: 30%;
    }

    .contact input {
        font-size: 20px;
    }

    header a,
    .about a,
    .services a,
    .contact [type="submit"] {
        padding: 1%;
        width: 20vw;
        font-size: 20px;
    }

    /* FOOTER */
    footer p {
        font-size: 20px;
        width: 70%;
    }
}
