@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

header {
  background-image: url("/img/bg-header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main h2 {
  color: dimgray;
  border-bottom: 1px solid dimgray;
  text-transform: uppercase;
  font-weight: 200;
}

small {
  text-transform: uppercase;
}

p {
  color: dimgray;
  line-height: 1.5;
}

body,
form,
figure,
figcaption,
details > ul,
header > section,
main,
main > section,
main > section > article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 200px) {
  .skills > article, .row > article,
  .row .skills > article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skills > article > p, .row > article > p,
  .row .skills > article > p {
    text-align: center;
  }
  header {
    height: 50vh;
  }
  header > section {
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, 0.7);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 4vh;
  }
  header > section > ul {
    display: none;
  }
  header > section > article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: whitesmoke;
    row-gap: 2vh;
  }
  header article > a {
    color: whitesmoke;
    background-color: #ec523f;
    border-radius: 5px;
    padding: 3%;
    width: 50%;
    text-align: center;
    font-weight: 400;
  }
  header h2 {
    border-bottom: 1px solid whitesmoke;
    text-transform: uppercase;
  }
  header h5 {
    text-transform: uppercase;
  }
  nav {
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    width: 90%;
    height: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  nav > article {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 4vw;
       -moz-column-gap: 4vw;
            column-gap: 4vw;
    color: #ec523f;
  }
  nav > article i {
    background-color: #ec523f;
    color: white;
    font-size: 50px;
    padding: 10%;
  }
  nav > article h3 {
    font-size: 30px;
  }
  nav > ul {
    display: none;
  }
  nav details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav details ul {
    margin-top: 2.5vh;
    position: absolute;
    width: 85%;
    left: 5%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2vh;
    padding: 3%;
    text-align: right;
    list-style-type: none;
  }
  nav details a {
    color: black;
    text-transform: uppercase;
    font-size: 18px;
  }
  nav details [class$=staggered] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav summary {
    margin-top: 2vh;
    background-color: #ec523f;
    color: white;
    width: 8vw;
    height: 8vw;
    position: relative;
  }
  img {
    width: 30%;
  }
  main {
    row-gap: 10vh;
    padding-top: 5vh;
  }
  .skills > section,
  .skills aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 3vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 5vh;
  }
  .row > section,
  .row .skills > section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 3vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services aside:nth-child(1) {
    background-color: #1abc9c;
  }
  .services aside:nth-child(2) {
    background-color: #e67e22;
  }
  .services aside:nth-child(3) {
    background-color: #3498da;
  }
  .services aside:nth-child(4) {
    background-color: #2ecc71;
  }
  .services aside {
    color: whitesmoke;
    min-height: 45vh;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services aside p {
    color: whitesmoke;
    width: 80%;
    text-align: center;
    font-size: 18px;
  }
  .services h4 {
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 1vh;
    font-size: 24px;
  }
  .services i {
    display: none;
  }
  .portfolio > section {
    width: 95%;
  }
  .portfolio > section figcaption {
    display: none;
  }
  .portfolio img {
    width: 100%;
    height: 45vh;
  }
  .team > section {
    width: 95%;
  }
  .team article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 3vh;
  }
  .team-gallery {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 3vh;
  }
  .team-gallery > figure {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .team-gallery img {
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
  }
  .team-gallery figcaption {
    display: none;
  }
  .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 5vh;
  }
  .skills > article {
    row-gap: 0vh;
  }
  .skills > article > p {
    font-style: italic;
    font-size: 14px;
    color: lightgray;
    width: 90%;
  }
  .skills aside {
    width: 90%;
  }
  .skills h3 {
    font-size: 18px;
    font-style: italic;
    color: gray;
    text-transform: uppercase;
    font-weight: 400;
  }
  .skills span {
    color: red;
  }
  .skills > section article {
    width: 90%;
  }
  .skills ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2vh;
    width: 100%;
    list-style-type: none;
  }
  .skills li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 5vh;
    background-color: gainsboro;
  }
  .skills h6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    height: 100%;
    background-color: #ec523f;
    color: white;
  }
  .skills small {
    color: whitesmoke;
    padding-left: 2vw;
    text-transform: uppercase;
  }
  .skills li:first-child > h6 {
    width: 90%;
  }
  .skills li:nth-child(3) > h6 {
    width: 70%;
  }
  .contact > section > article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2vh;
    width: 90%;
  }
  .contact > section > section {
    width: 90%;
  }
  .contact iframe {
    width: 90%;
  }
  .contact ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1vh;
    list-style-type: none;
    color: dimgray;
  }
  .contact ul a {
    color: #ec523f;
  }
  .contact li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 1vh;
       -moz-column-gap: 1vh;
            column-gap: 1vh;
  }
  form {
    width: 100%;
    row-gap: 2vh;
  }
  input {
    border: 1px solid dimgray;
    height: 5vh;
  }
  ::-webkit-input-placeholder {
    padding: 2vw;
    color: gray;
  }
  ::-moz-placeholder {
    padding: 2vw;
    color: gray;
  }
  :-ms-input-placeholder {
    padding: 2vw;
    color: gray;
  }
  ::-ms-input-placeholder {
    padding: 2vw;
    color: gray;
  }
  ::placeholder {
    padding: 2vw;
    color: gray;
  }
  textarea {
    resize: none;
    height: 30vh;
    border: 1px solid dimgray;
  }
  [type=submit] {
    background-color: #ec523f;
    border: 3px solid transparent;
    color: whitesmoke;
  }
  footer {
    padding-top: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer p {
    font-size: 14px;
  }
  footer a {
    background-color: #ec523f;
    padding: 3%;
    color: whitesmoke;
    text-align: center;
    width: 50%;
  }
}/*# sourceMappingURL=style.css.map */