@import url("http://fonts.googleapis.com/css?family=Roboto+Slab|Merriweather|Josefin+Slab|Oswald|Bree+Serif");

// Screen Size
$mobileScreen: 300px;
$tabletScreen: 700px;
$desktopScreen: 1000px;
$higherScreen: 1200px;

// Colors
$colorGreen: #178a27;
$colorSkyBlue: #1686c1;
$colorBrown: #852406;
$colorPurple: #6d73c2;
$colorTeal: #0076a3;
$colorYellow: #ffba00;
$colorGray: #40475a;
$colorBeige: #eee8d6;
$colorDark: #333333;

// Font Families
$fontFamily: "Bree Serif", Helvetica, sans-serif;
