* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
}

header {
    width: 100%;
    display: flex;
    position: relative;
    height: 35vh;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: -1;
}

header article {
    width: 100%;
    height: 100%;
    border: 1px solid blue;
    position: absolute;
    /* z-index: 0; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 36px;
}

h3 {
    font-size: 20px;
}

aside {
    border: 1px solid red;
    text-align: center;
}
